<h3>Groups</h3>

<% if @groups.any? %>
<ul>
  <% @groups.each do |group| %>
  <li><a href="/groups/<%= group.fetch("id") %>"><%= group.fetch("name") %></a></li>
  <% end %>
</ul>
<% else %>
<h4>No groups</h4>
<% end %>
