
<h1>As we were saying, add a new group...</h1>

<form name="param" action="/groups" method="post">
  <label for="param">Group Name</label>
  <input name="param" type="text">
  <hr>
  <button type="submit" name="param">Create</button>
</form>
